apiVersion: apps/v1
kind: Deployment
metadata:
  name: webapp-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: webapp
  template:
    metadata:
      labels:
        app: webapp
    spec:
      containers:
      - name: webapp
        image: mon-app-web:v3
        imagePullPolicy: Never  # Important pour tes tests locaux !
        ports:
        - containerPort: 3000
        env:
        # --- CONFIGURATION (Via ConfigMap) ---
        - name: DB_HOST
          valueFrom:
            configMapKeyRef:
              name: app-config
              key: db-host
        - name: DB_PORT
          valueFrom:
            configMapKeyRef:
              name: app-config
              key: db-port
        - name: DB_NAME
          valueFrom:
            configMapKeyRef:
              name: app-config
              key: db-name
              
        # --- SECRETS (Via Secret) ---
        - name: DB_USER
          valueFrom:
            secretKeyRef:
              name: db-secret
              key: postgres-user
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: db-secret
              key: postgres-password
