apiVersion: v1
kind: Secret
metadata:
  name: db-secret
type: Opaque
data:
  # Ces valeurs sont en base64 - c'est comme un code secret !
  postgres-password: bXlwYXNzd29yZA==  # "mypassword" en secret
  postgres-user: bXl1c2Vy              # "myuser" en secret  
  postgres-db: bXlkYg==                # "mydb" en secret